<?xml version="1.0" encoding="UTF-8" ?>
<?eclipse version="3.0"?>

<plugin>
       <extension point="org.eclipse.imp.runtime.languageDescription">
          <language extensions="mob" description="MoBL" language="MoBL" derivedFrom="DynamicRoot" validator="mobl.MoBLValidator" validatorClass="mobl.MoBLValidator"></language>
       </extension>
       <extension id="mobl.parser" name="MoBL Parser" point="org.eclipse.imp.runtime.parser">
          <parser class="mobl.MoBLParseController" language="MoBL">
          </parser>
       </extension>    
    </plugin>