#tweets .tweet:nth-child(odd){
	background: #ffffff;
	border: 0;
	width: 100%;
}

#tweets .tweet:nth-child(even){
  background: #f0f0f0;
  width: 100%;
}

#tweets .icon {
	display: block;
	position: absolute;
	padding: 3px 3px 3px 3px;
	width: 55px;
	height: 55px;
	z-index: 10;
}

#tweets .text {
  display: block;
  margin-left: 56px;
	min-height: 55px;
  padding: 3px 3px 3px 3px;
}

.meta {
	color: #999;
	font-size: 11px;
	display: block;
	padding-top: 3px;
}

.bubble {
    -webkit-border-bottom-left-radius: 12px;
    -webkit-border-bottom-right-radius: 12px;
    -moz-border-radius-bottomleft: 12px;
    -moz-border-radius-bottomright: 12px;
    -webkit-border-top-left-radius: 12px;
    -webkit-border-top-right-radius: 12px;
    -moz-border-radius-topleft: 12px;
    -moz-border-radius-topright: 12px;
		padding: 10px 10px 10px 10px;
		margin: 5px 5px 5px 5px;
    background: #ffffff;
}

.postermeta {
	padding: 5px 5px 5px 30px;
}
